<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js">

    var source = document.getElementById("index").innerHTML;
    var template = Handlebars.compile(source);

    var data = {
    header: <div class="container-fluid background-header" >
   
        <img src="./images/logo.png" class="logo header-item"/>
        
        <ul class="header-item nav">
            <li class="nav-item"><a class="nav-link link-color" href="about.asp">Contacto</a></li>
            <li class="nav-item"><a class="nav-link link-color" href="contact.asp">Quienes Somos?</a></li>
            <li class="nav-item"><a class="nav-link link-color" href="eventos.html">Eventos</a></li>
            <li class="nav-item"><a class="nav-link link-color" href="index.html">Inicio</a></li> 
   
        </ul>
    </div>
    footer: "John Doe"
    };

    var html = template(data);

    // Insert the rendered HTML into the page
    document.getElementById("output").innerHTML = html;
</script>

